header-nav.fixed-top {
    position: fixed;
    background: #fff !important;
    padding-top: .36em;
    padding-bottom: .36em;
}
#header-nav {
    transition: all .5s ease;
}
.bg-light {
    background-color: #f4f6f8 !important;
}
.shadow-sm {
    box-shadow: 0 .125rem .25rem rgba(0, 0, 0, .075) !important;
}
.fixed-top {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
}
@media (min-width: 992px) {
    .navbar-expand-lg {
        flex-wrap: nowrap;
        justify-content: flex-start;
    }
}
.navbar {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding-top: 1rem;
    padding-bottom: 1rem;
}
*, ::after, ::before {
    box-sizing: border-box;
}
nav {
    display: block;
    unicode-bidi: isolate;
}
.ms-auto {
    margin-left: auto !important;
}
.me-2 {
    margin-right: 1rem !important;
}
li {
    display: list-item;
    text-align: -webkit-match-parent;
    unicode-bidi: isolate;
}
.nav-link {
    font-weight: 700;
    color: rgba(0, 0, 0, 0.8) !important;
    display: block;
    padding: .5rem 1rem;
    color: #212529;
    text-decoration: none;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out;
}
a{
    color: #212529;
    text-decoration: underline;
}